
html{
	scroll-behavior: smooth;
}
body{
	font-family:'Playfair Display', serif;;
}
.nav{
	background-color: #fafaf8;
	z-index: 9;
	padding-left: 50px;
	padding-right: 50px;
}
.nav_top{
	position: relative;
	width: 100%;
	height: 100px;
}
#iconbar{
	color: black;
	font-size: 2rem;
	position: absolute;
	margin-top: 35px;
	margin-right: 20px;
	opacity: 0;
	visibility:visible;
}
#iconbar:hover{
	color: gold;
}
.logo{
	width: 50%;
	float: left;
}
.logo img{
	padding: 10px;
	height: 90px;
	margin-top: 10px;
}
.nav_side{
	float: right;
	width: 560px;
	margin-top: 35px;
	text-align: left;
}
.nav_side a{
	text-decoration: none;
  margin-left: 40px;
	margin-top: 5px;
	color: black;
	font-family:'Playfair Display', serif;
	font-size: 23px;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}
.nav_side a:hover{
	color: gold;
	transition: all is ease;
}

.main{
	background-image:url("./img/background3.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 125vh;
	width: 100%;
	animation:slider 25s infinite ease-in-out;
	animation-delay: 3s;
}
@keyframes slider{
	0%{background-image:url("./img/background3.jpg");}
	25%{background-image:url("./img/slider3.jpg");}
	50%{background-image:url("./img/slider1.jpg");}
	75%{background-image:url("./img/slider7.jpg");}

}
.main .main_content {
	padding-top: 50%;
	margin-left: 10%;
	margin-right: 10%;
}

/*Testimonials*/
.testi{
	background-color: white;
	height: 100vh;
	width: 100%;
}
.testi h2{
	text-align: center;
	padding-top: 80px;
	font-size: 35px;
	color: black;
	font-family: 'Playfair Display', serif;
}
.testi_cover{
	width: 800px;
	height: 400px;
	position: absolute;
	top: 117%;
	left: 50%;
	transform: translate(-50%,50%);
}
.indicator{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -20px;
}
.testimonial{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.btn{
	display: inline-block;
	height: 15px;
	width: 10px;
	margin: 4px;
	border-radius: 15px;
	background-color: #343434;
	cursor: pointer;
}
.testi_container{
	display: flex;
	width: 3800px;
	transition: 0.5s;
}
.testi_col{
	width: 800px;
	height: 400px;
	position: relative;
}
.item_img{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.item_img img{
	height: 100%;
}
.item_cont{
	background: #FFF5EE;
	width: 545px;
	height: 270px;
	position: relative;
	margin-right: 250px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 10px;
	color: black;
	padding: 45px;
	box-sizing: border-box;
	z-index: 2;
}
.item_cont p{
	font-size: 14px;
	font-family: 'Playfair Display', serif;
	line-height: 24px;
}
.item_cont h3{
	font-family: 'Playfair Display', serif;
	margin: 20px 0 5px;
	color: black;
}

@media(min-width: 2600px){
	.testi_cover{
	width: 800px;
	height: 600px;
	position: absolute;
	top: 125%;
	left: 50%;
	transform: translate(-50%,50%);
}
.testi{
	background-color: white;
	height: 101vh;
	width: 100%;
}
.testi h2{
	text-align: center;
	margin-top: -370px;
	padding-bottom: 80px;
	font-size: 40px;
	color: black;
	font-family: 'Playfair Display', serif;
}
.indicator{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 170px;
}
.item_img{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.item_img img{
	height: 100%;
}
.item_cont{
	background: #FFF5EE;
	width: 560px;
	height: 270px;
}
}
/*Footer*/
footer{
	background-color: #fafaf8;
	padding: 50px;

}
footer .pages{
	text-align: center;
}
footer .pages h3{
	color: black;
	font-size: 25px;
	font-family: 'Playfair Display', serif;
	padding: 5px;
}
footer .pages a{
	text-decoration: none;
	margin: 10px;
	color: black;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
}
footer .pages a:hover{
	color: gold;
}
footer .doc{
	text-align: center;
}
footer .doc h3{
	color: black;
	font-size: 25px;
	font-family: 'Playfair Display', serif;
	padding: 5px;
}
footer .doc a{
	text-decoration: none;
	margin: 10px;
	color: black;
	font-size: 20px;
  font-family: 'Playfair Display', serif;
}
footer .doc a:hover{
	color: gold;
}
footer .footer_gallery{
	columns: 6;
	padding: 0;
	margin: 0;
}
footer .footer_img img{
	width: 100%;
}
footer .contact{
	text-align: center;
}
footer .contact h3{
	color: black;
	font-size: 25px;
	font-family: 'Playfair Display', serif;
	padding: 5px;
}
footer .social{
	text-align: center;
}
footer .social h3{
	color: black;
	font-size: 25px;
	font-family: 'Playfair Display', serif;
	padding: 5px;
}
footer .social a{
	text-decoration: none;
	font-size: 30px;
	color: black;
	margin: 30px;
}
footer .social a:hover{
	color: gold;
}
footer .contact a{
	text-decoration: none;
	font-size: 30px;
	color: black;
	margin: 30px;
}
footer .contact a:hover{
	color: gold;
}
footer p{
color: black;
text-align: center;
}

/*about us page*/
.about_us{
	padding: 50px;
}
.about_us h2{
	color: black;
	font-size: 35px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	padding: 10px;
	line-height: 100px;
	text-transform: uppercase;
}
.about_us p{
	padding: 10px;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	font-family: 'Playfair Display', serif;
}
.team{
	padding: 50px;
	background-color: white;
}
.team h2{
	color: black;
	font-size: 35px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	padding: 10px;
	line-height: 100px;
	text-transform: uppercase;
}
.team .team_container{
	display: flex;
}
.team .team_container .team_video{
	width: 50%;
	padding: 20px;	
}
.team .team_container .team_video video{
	width: 100%;
	margin-left: 50px;
	border: 10px solid black;
	outline: none;
}
.team .team_container .team_content{
	width: 30%;
	padding: 20px;
	margin-left: 100px;	
}
.team .team_container .team_content p{
	padding: 10px;
	font-size: 14px;
	font-family: 'Playfair Display', serif;
	color: black;
}

.meet{
	padding: 20px;
	height: 30vh;
	background-color: white;
	overflow-y: hidden;
	padding-top: 50px;
	margin-bottom: 30px;
}

.meet .meet_container{
	background-color: #fafaf8;
	margin-right: 30%;
	margin-left: 30%;
	text-align: center;
	border: 5px solid #F5F5DC;
}

.meet .meet_container h2{
	font-family: 'Playfair Display', serif;
	font-size: 25px;
}
.meet .meet_container a{
	color: black;
	text-decoration: none;
}
.meet .meet_container a:hover{
	color: gold;
	text-decoration: none;
}

/*Client Gallery Page*/
.event{
	padding-bottom: 100px;
	background-color: white;
}
.event h2{
	color: gold;
	font-size: 35px;
	text-align: center;
	padding: 10px;
	line-height: 100px;
	font-family: 'Playfair Display', serif;
}
.event .event_container{
	margin-left: 150px;
	margin-right: 80px;
	display: flex;
	flex-wrap: wrap;
}
.event .event_container .item{
	width: 360px;
	margin: 28px;
	background-color: #FFF5EE;

}
.event .event_container .item:hover{
	box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.5);
}
.event .event_container .item .item_image{
	width: 100%;
	overflow: hidden;
}
.event .event_container .item .item_image img{
	width: 100%;
	height: 230px;
}
.event .event_container .item .item_content{
	text-align: center;
	background-color: #FFF5EE;
}
.event .event_container .item .item_content h3{
	padding: 5px;
	font-size: 25px;
	color: black;
	font-family: 'Playfair Display', serif;
}

/*for portfolio html page*/

.folio{
	columns: 3;
	grid-gap: 5px;
}

.folio .folio_img{
	margin-bottom: 10px;
	position: relative;
	margin-left: 2px;
	margin-right: 2px;
}

.folio .folio_img img{
	width: 100%;
}

/*Lets chat form 1*/
.container{
  max-width: 800px;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 800px;
  height: 80vh;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  background: white;
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
/*.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}*/
/*.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
*/

.submit-btn{
	text-align: center;
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: gold;
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}

/*for desktop=1300px but lets do for tablet*/
@media (max-width: 1300px){
	.nav_side {
		margin-top: -70px;
	}

}

/*for desktop - 800px*/
@media (max-width: 800px){
	html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
    .logo{
		width: 100%;
		text-align: center;
	}

	.nav_side{
		width: 100%;
		text-align: left;
	}
	.nav_side a{
		opacity: 0;
		visibility: hidden;
	}
	#iconbar{
		opacity: 1;
		visibility: visible;
	}

	.nav_side.responsive{
		width: 100%;
		height: 40vh;
		background-color: white;
		position: relative;
		margin: 0;
		z-index: 1111;
	}

	.nav_side.responsive a{
		opacity: 1;
		visibility: visible;
		float: none;
		display: block;
		text-align: center;
		line-height: 50px;
	}
	.main .main_content h2{
		font-size: 35px;
	} 

	.main .main_content .btn a{
		margin: 250px;
	}
	.event .event_container .item .item_image{
		width: 100%;
		height: 150px;
	}
	.event .event_container .item .item_image img{
		width: 100%;
		height: 150px;
	}
	.event .event_container .item .item_content p{
		font-size: 12px;
	}
	.event .event_container .item .item_content a{
		margin: 50px;
	}

	.team .team_container .team_content{
		margin: 60px;
		margin-top: 3px;
	}

	.team .team_container .team_content p{
		font-size: 6px;
	}
}


/*for mobile*/
@media (max-width: 320px){
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
    .logo{
		width: 100%;
		text-align: center;
	}

	.nav_side{
		width: 100%;
		text-align: left;
	}
	.nav_side a{
		opacity: 0;
		visibility: hidden;
	}
	#iconbar{
		opacity: 1;
		visibility: visible;
	}

	.nav_side.responsive{
		width: 100%;
		height: 40vh;
		background-color: white;
		position: relative;
		margin: 0;
		z-index: 1111;
	}

	.nav_side.responsive a{
		opacity: 1;
		visibility: visible;
		float: none;
		display: block;
		text-align: center;
		line-height: 50px;
	}
	.main .main_content h2{
		font-size: 20px;
	} 

	.main .main_content .btn a{
		margin: 250px;
	}
	.event .event_container .item .item_image{
		width: 100%;
		height: 150px;
	}
	.event .event_container .item .item_image img{
		width: 100%;
		height: 150px;
	}
	.event .event_container .item .item_content p{
		font-size: 12px;
	}
	.event .event_container .item .item_content a{
		margin: 50px;
	}

	.team .team_container .team_content{
		margin: 60px;
		margin-top: 3px;
	}

	.team .team_container .team_content p{
		font-size: 6px;
	}
}
